{% include 'base.html.twig' %}

{% block body %}
    <div class="container" style="padding-top: 10%">
        <div class="well">
            <h1>Ajouter un compte Admin</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Créer le compte</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
