{% include 'base.html.twig' %}

{% block body %}
    <div class="img"></div>
    <div class="wrapper">
        <div class="content">
            <h1>Envie d’un moment de détente ?</h1> <br>
            <p>
                Nous vous proposons des articles sur des thèmes riches et variés tels que la beauté (tendances, soins,
                routines…) mais aussi le bien-être (décoration, méditation, aroma, healthy food…).


                vous pouvez nous contacter directement en utilisant le formulaire de contact. Nos équipes vous
                répondront dans les plus brefs délais.
            <p>Passionnés par les plantes Nous partagons également nos découvertes et nos conseils pour débuter et avoir
                la main verte !</p>
            Bonne lecture ! <br>
            </p>
            <p>l'Équipe WellnessClub</p>
        </div>
    </div>
    <br><br>
{% endblock %}
