<span class="rating">
            {% for i in 1..5 %}
                {% if i<= rating %}
                    <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
                {% else %}
                    <i class="fa fa-star" aria-hidden="true" style="color:blanchedalmond"></i>
                {% endif %}
            {% endfor %}
</span>
